@use "../../utils/mixins";
@use "../../utils/variables";
@use "links";
// .test{
//   @include mixins.flex;
//   column-gap: 1rem;
//   flex-wrap: wrap;

button {
  border-radius: 6px;
  box-shadow: variables.$shadowButton;
  background: variables.$primary;
  font-family: "Manrope", sans-serif;
  @include mixins.formatText(700, 1.6rem, 2.4rem);
  letter-spacing: 0.055rem;
  border: none;
  font-style: normal;
  color: variables.$white;

  //standard buttons
  &[data-button*="standard"] {
    @include mixins.size(19rem, 5.4rem);

    &:hover {
      background: variables.$buttonHovered;
    }

    &:hovered {
      background: variables.$error;
    }
    &:disabled {
      background: variables.$grey;
    }
    &:hovered {
      background: variables.$grey;
    }
  }
}
// }
