@use "../../utils/mixins";
@use "../../utils/variables";
.ensome__blogcard {
  /****************** variant4 **********************/
  &__variant1,
  &__variant2,
  &__variant3,
  &__variant4,
  &__variant5,
  &__variant6 {
    @include mixins.flex(column);
    align-items: flex-start;
    padding: 3rem 3.5rem 4.5rem;
    gap: 2rem;
    @include mixins.size(35rem, 33.1rem);
    background: variables.$white;
    box-shadow: variables.$shadowCard3;
    border-radius: 6px;

    div {
      @include mixins.flex;
      align-items: flex-start;
      gap: 0.5rem;
    }
    section {
      @include mixins.flex(column);
      gap: 2rem;
      align-items: flex-start;
    }
    p {
      letter-spacing: -0.015em;
      color: variables.$grey;
    }
  }

  /****************** variant5 **********************/
  &__variant5,
  &__variant4 {
    align-items: center;
    padding: 0px;
    @include mixins.flex;
    @include mixins.size(44.5rem, 12.2rem);
    #card_image {
      @include mixins.size(19rem, 11.4rem);
      background: url(/public/images/v5.png);
      border-radius: 6px;
    }
    section {
      align-items: flex-start;
      padding: 0px;
      gap: 1rem;
      @include mixins.size(23.5rem, 12.2rem);

      p {
        margin: 0;
      }
      h6 {
        @include mixins.formatText(700, 1.6rem, 2.4rem);
      }
    }
  }
  /****************** variant4 **********************/
  &__variant4 {
    @include mixins.size(63.5rem, 18.5rem);
    align-items: center;
    #card_image {
      @include mixins.size(21.5rem, 17.1rem);
      background: url(/public/images/v4.png);
    }

    section {
      width: 400px;
      height: 185px;

      p {
        @include mixins.formatText(400, 1.6rem, 2.8rem);
      }
    }
  }
  /****************** variant3 **********************/
  &__variant3 {
    padding: 2rem 3.5rem;
    gap: 2rem;
    @include mixins.size(54rem, 31.3rem);

    //mobile versions
    @media only screen and (width <= 42rem) {
      padding: 3rem 2.5rem;
      @include mixins.size(32.8rem, 35.6rem);
      p {
        @include mixins.formatText(400, 1.4rem, 2.4rem);
      }
      h3 {
        @include mixins.formatText(700, 2rem, 3rem);
      }
    }
    @media only screen and (width <= 32rem) {
      align-self: center;
      padding: 3rem 1.5rem;
      @include mixins.size(30rem, 33.6rem);
      p {
        @include mixins.formatText(400, 1.3rem, 2.4rem);
      }
      h3 {
        @include mixins.formatText(700, 1.7rem, 3rem);
      }
    }
  }
  /****************** variant2 **********************/
  &__variant2 {
    padding: 3.5rem;
    gap: 3rem;
    @include mixins.size(35rem, 38.1rem);
    align-items: center;
    p {
      text-align: center;
    }
  }

  &__variant2,
  &__variant1 {
    span.ensome__icon_data__primary {
      @include mixins.flex;
      padding: 1.4rem;
      border: 1px solid variables.$background;
      border-radius: 1.2rem;
    }
  }
  /****************** variant1 **********************/
  &__variant1 {
    @include mixins.size(63.5rem, 49.8rem);

    padding: 4.6rem 3.5rem;
    gap: 3rem;
    @include mixins.size(35rem, 35.3rem);
    @media only screen and (width <= 42rem) {
      @include mixins.size(27.2rem, 30.2rem);
      span.ensome__icon_data__primary {
        padding: 1rem;
      }
      h3 {
        @include mixins.formatText(700, 2rem, 3rem);
      }
      p {
        @include mixins.formatText(400, 1.4rem, 2.4rem);
      }
    }
  }
}
