@use "../../utils/mixins";
@use "../../utils/variables";
.ensome__blogcard {
  /****************** variant4 **********************/
  &__variant1,
  &__variant2,
  &__variant3,
  &__variant4,
  &__variant5,
  &__variant6 {
    @include mixins.flex(column);
    align-items: flex-start;
    padding: 3rem 3.5rem 4.5rem;
    gap: 2rem;
    @include mixins.size(35rem, 33.1rem);
    background: variables.$white;
    box-shadow: variables.$shadowCard3;
    border-radius: 6px;

    div {
      @include mixins.flex;
      align-items: flex-start;
      gap: 0.5rem;
    }
    section {
      @include mixins.flex(column);
      gap: 2rem;
      align-items: flex-start;
    }
    p {
      letter-spacing: -0.015em;
      color: variables.$grey;
    }
  }

  /****************** variant5 **********************/
  &__variant5,
  &__variant4,
  &__variant3,
  &__variant2 {
    align-items: center;
    padding: 0px;
    @include mixins.flex;
    @include mixins.size(44.5rem, 12.2rem);
    #card_image {
      @include mixins.size(19rem, 11.4rem);
      background: url(/public/images/v5.png);
      border-radius: 6px;
    }
    section {
      align-items: flex-start;
      padding: 0px;
      gap: 1rem;
      @include mixins.size(23.5rem, 12.2rem);

      p {
        margin: 0;
      }
      h6 {
        @include mixins.formatText(700, 1.6rem, 2.4rem);
      }
    }
  }
  /****************** variant4 **********************/
  &__variant4 {
    @include mixins.size(63.5rem, 18.5rem);
    align-items: center;
    #card_image {
      @include mixins.size(21.5rem, 17.1rem);
      background: url(/public/images/v4.png);
    }

    section {
      width: 400px;
      height: 185px;

      p {
        @include mixins.formatText(400, 1.6rem, 2.8rem);
      }
    }
  }
  /****************** variant3 **********************/
  &__variant3,
  &__variant2 {
    @include mixins.flex(column);
    @include mixins.size(35rem, 47.8rem);
    #card_image {
      background: url(/public/images/v3.png);
      @include mixins.size(35rem, 20rem);
    }

    section {
      @include mixins.size(35rem, 25.8rem);
      padding: 0 0.5rem;
      h6 {
        @include mixins.formatText(700, 2.2rem, 3.3rem);
      }
    }
  }
  /****************** variant2 **********************/
  &__variant2,
  &__variant1 {
    padding: 0px 0px 3rem;
    gap: 3rem;
    @include mixins.size(54rem, 61.5rem);
    align-items: flex-start;
    #card_image {
      background: url(/public/images/v2.png);
      @include mixins.size(54rem, 30rem);
    }
    section {
      padding: 0px 3.5rem;
      gap: 1.7rem;
      @include mixins.size(54rem, 25.5rem);
    }
    div {
      padding: 0px 3.5rem;
    }
  }

  /****************** variant1 **********************/
  &__variant1 {
    padding: 0rem;
    gap: 2.5rem;
    @include mixins.size(63.5rem, 49.8rem);
    section {
      padding: 0.5rem;
    }
    #card_image {
      background: url(/public/images/v1.png);
      @include mixins.size(63.5rem, 28.5rem);
    }
  }
}
